@media (max-width: 767px) {

.CrossSettings{
    width: max-content;
    height: max-content;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;   
    z-index: 99999;
}
.CSPanels{
    width: 5vh;
    height: 5vh;
    background-color: var(--li);
    overflow: visible;
    max-width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    z-index: -1;
    position: relative;
    left: -5vh;

}

.CSPanels::before{
    content: '';
    position: absolute;
    left: 5vh;
    border-bottom: 5vh solid var(--ak);
    border-right: 5vh solid var(--tr);
}

.CSPanels:is(:hover, :focus, :active)
{
    min-width: max-content;
    height: 40vh;
    overflow: auto;
    left: 0vh;
}
.CSPanels:is(:hover, :focus, :active)::before {
    display: none;

}
.CSPanels::-webkit-scrollbar{
    width: 1vh;
    position: absolute !important;
}
.CSP_Group{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;

}
.CSP_Group div{
    font-family: 'ss';
    font-size: 3.5vh;
    color: var(--te);
    background-color: var(--ba);
    border-top: 1px solid var(--ak);
    border-bottom: 1px solid var(--ak);
    width: calc(100% - 2px);
    text-align: center;
    overflow: auto;
}

.CSP_Group div:first-child {
    text-align: left;
    width: calc(100% - 2vh);
    height: max-content;
    min-height: 5vh;
    font-family: 'ss';
    font-size: 3.5vh;
    color: var(--te);
    margin: 1vh 0vh;
    padding: 0vh 1vh;
    border: none !important;
    background: var(--ak);
}
.CSP_Group div:nth-child(2) {
    border-top: 2px solid var(--ak);
}
.CSP_Group div:last-child {
    border-bottom: 2px solid var(--ak);
}

.CSP_Group div:hover:first-child {
    cursor: not-allowed;
}
.CSP_Group div:hover{
    cursor: pointer;
}











.checkbox-wrapper-8{
    display: flex;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    padding: 1vh 0vh;



}
.checkbox-wrapper-8 .tgl {
    display: none;
}

.checkbox-wrapper-8 .tgl,
.checkbox-wrapper-8 .tgl:after,
.checkbox-wrapper-8 .tgl:before,
.checkbox-wrapper-8 .tgl *,
.checkbox-wrapper-8 .tgl *:after,
.checkbox-wrapper-8 .tgl *:before,
.checkbox-wrapper-8 .tgl+.tgl-btn {
    box-sizing: border-box;
}

.checkbox-wrapper-8 .tgl::-moz-selection,
.checkbox-wrapper-8 .tgl:after::-moz-selection,
.checkbox-wrapper-8 .tgl:before::-moz-selection,
.checkbox-wrapper-8 .tgl *::-moz-selection,
.checkbox-wrapper-8 .tgl *:after::-moz-selection,
.checkbox-wrapper-8 .tgl *:before::-moz-selection,
.checkbox-wrapper-8 .tgl+.tgl-btn::-moz-selection,
.checkbox-wrapper-8 .tgl::selection,
.checkbox-wrapper-8 .tgl:after::selection,
.checkbox-wrapper-8 .tgl:before::selection,
.checkbox-wrapper-8 .tgl *::selection,
.checkbox-wrapper-8 .tgl *:after::selection,
.checkbox-wrapper-8 .tgl *:before::selection,
.checkbox-wrapper-8 .tgl+.tgl-btn::selection {
    background: none;
}

.checkbox-wrapper-8 .tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-8 .tgl+.tgl-btn:after,
.checkbox-wrapper-8 .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.checkbox-wrapper-8 .tgl+.tgl-btn:after {
    left: 0;
}

.checkbox-wrapper-8 .tgl+.tgl-btn:before {
    display: none;
}

.checkbox-wrapper-8 .tgl:checked+.tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper-8 .tgl-skewed+.tgl-btn {
    overflow: hidden;
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.2s ease;
    font-family: sans-serif;
    background: #888;
}

.checkbox-wrapper-8 .tgl-skewed+.tgl-btn:after,
.checkbox-wrapper-8 .tgl-skewed+.tgl-btn:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.checkbox-wrapper-8 .tgl-skewed+.tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
}

.checkbox-wrapper-8 .tgl-skewed+.tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
}

.checkbox-wrapper-8 .tgl-skewed+.tgl-btn:active {
    background: #888;
}

.checkbox-wrapper-8 .tgl-skewed+.tgl-btn:active:before {
    left: -10%;
}

.checkbox-wrapper-8 .tgl-skewed:checked+.tgl-btn {
    background: #86d993;
}

.checkbox-wrapper-8 .tgl-skewed:checked+.tgl-btn:before {
    left: -100%;
}

.checkbox-wrapper-8 .tgl-skewed:checked+.tgl-btn:after {
    left: 0;
}

.checkbox-wrapper-8 .tgl-skewed:checked+.tgl-btn:active:after {
    left: 10%;
}













.radio-input{
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    overflow: auto;
}


.input {
    -webkit-appearance: none;
    /* remove default */
    display: block;
    margin: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0, 0%, 100%, .15) 0 1px 1px, inset hsla(0, 0%, 0%, .5) 0 0 0 1px;
    background-color: hsla(0, 0%, 0%, .2);
    background-image: -webkit-radial-gradient(hsla(200, 100%, 90%, 1) 0%, hsla(200, 100%, 70%, 1) 15%, hsla(200, 100%, 60%, .3) 28%, hsla(200, 100%, 30%, 0) 70%);
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
        -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none;
}

.input:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
        -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}

.input:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}



/* The up/down direction logic */

.input,
.input:active {
    background-position: 24px 0px;
}

.input:checked {
    background-position: 0 0;
}

.input:checked~.input,
.input:checked~.input:active {
    background-position: -24px 0px;
}













}