/* Большие настольные компьютеры и ноутбуки 
@media (min-width: 1200px) {}
*/
/* Альбомные планшеты и средние настольные компьютеры
@media (min-width: 992px) and (max-width: 1199px) {}
 */
/* Портретные планшеты и маленькие настольные компьютеры 
@media (min-width: 768px) and (max-width: 991px) {}
*/
/* Альбомные телефоны и портретные планшеты 
@media (max-width: 767px) {}
*/
/* Портретные телефоны и меньше 
@media (max-width: 360px) {}
*/
@media (min-width: 768px) {
    article {
        height: 100vh;
        width: 100vw;
        background-color: var(--ba);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

    }

    .header {
        width: 100%;
        height: 5%;
        background-color: var(--li);
    }

    .logo {
        height: 35%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        align-content: center;
        flex-wrap: nowrap;
        color: var(--te);
        font-family: 'ss';
        font-size: 9vh;
    }

    .logo span {
        font-size: 3vh;
        height: 0vh;
        color: var(--li);
    }

    .CardZone {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    .HelloCard {
        width: 20%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        text-decoration: none;
    }

    .MainRect {
        width: 20vw;
        height: 21vh;
        background-color: var(--li);
        position: relative;
        z-index: 1;
        transition: all .1s ease-in;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        user-select: none;
    }

    .RectADDText {
        z-index: 10;
        user-select: none;
    }

    .RowBackText {
        color: var(--ba);
        font-size: 3vh;
        font-family: 'ss';
        white-space: nowrap;
        transform: rotate(-45deg);
        transition: all .1s ease-in;
        user-select: none;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        align-content: center;


    }

    .NameC {
        color: var(--ba);
        font-size: 3vh;
        font-family: 'ss';
        white-space: nowrap;
        transform: rotate(0deg) !important;
        transition: all .1s ease-in;
        z-index: 50;
    }

    .MainRect::after {
        content: '';

        position: absolute;
        left: 0;
        top: 0;

        border-top: 4vw solid var(--ba);
        border-right: 4vw solid var(--tr);
        transition: all .1s ease-in;
        z-index: 55;
    }

    .MainRect::before {
        content: '';

        position: absolute;
        right: 0;
        bottom: 0;

        border-bottom: 4vw solid var(--ba);
        border-left: 4vw solid var(--tr);
        transform: rotate(0deg);
        transition: all .1s ease-in;
        z-index: 55;
    }


    .HelloCard:hover .MainRect {
        box-shadow: 0px 0px 0px 2px var(--ak) inset;
    }

    .HelloCard:hover .MainRect::before {
        border-bottom: 0vw solid var(--ba);
        border-left: 0vw solid var(--li);
    }

    .HelloCard:hover .MainRect::after {
        border-top: 0vw solid var(--ba);
        border-right: 0vw solid var(--li);
    }

    .MainRect:hover .RectADDText {}

    .MainRect:hover .RectADDText .NameC {
        color: var(--ak);
        font-size: 5vh;
        transform: rotate(0deg) !important;
    }

    .HelloCard:hover .MainRect .RectADDText .RowBackText {

        margin: 0vh 0vh;
        color: var(--li);
        font-size: 0vh;
        transform: rotate(0deg) !important;
    }


}