* {
    --li: #21212E;
    --ba: #11111E;
    --ak: #82ba5c;
    --te: #ffffff;
    --tr: rgba(255, 255, 255, 0);

    --error: #F44236;

    --3d_loading_panel: #21212E;
    /*Для настроек*/

    --PLS_CloseSettings: rgba(233, 29, 29, 0.729);
    --Settings_is_open: rgba(73, 233, 29, 0.729);
    /*Настройки кнопок в настройке*/
    --btn-default-bg: rgb(41, 41, 41);
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-shadow-color: #00000023;
    --default-btn-color: #fff;
    /*универсальный зелёный для настроек

    --mainSettings_GREEN: hsla(142, 100%, 43%, 1);
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    */
    --mainSettings_GREEN_H: 142;
    --mainSettings_GREEN_S: 100%;
    --mainSettings_GREEN_L: 43%;
    --mainSettings_GREEN_A: 1;
    /*уведомления Тостифи*/
    --toastify_notify: linear-gradient(135deg, var(--error), var(--ak));
}


.HeadButtons div {
    border-radius: 5px !important;
}

.inputBox input {
    border-radius: 5px !important;
}

.WPCR_TTX,
.SortSatt,
.HeadSravAddMore,
.HeadSravBack,
.ResultCard {
    border-radius: 5px !important;

}