* { 
    --li: #47272eb4;
    --ba: #150408b7;
    --ak: #c2245e;
    --te: #ffffff;
    --tr: rgba(255, 255, 255, 0);
    --error: #F44236;
}

body{
    background-image: url('../../assets/layer_wall.png');
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: space;
}


.MainRect{
    background-color: var(--tr) !important;
    
}

.MainRect:hover {
    background-color: var(--li) !important;
}

.MainRect:hover .RowBackText {
    background-color: var(--tr) !important;
    border-top: 0px solid var(--ak) !important;
    border-bottom: 0px solid var(--ak) !important;
}
.RowBackText{
    background-color: #47272e !important;
    border-top: 2px solid var(--ak);
    border-bottom: 2px solid var(--ak);
}


.HeadButtons div {
    border-radius: 5px !important;
}

.inputBox input {
    border-radius: 5px !important;
}

.WPCR_TTX,
.SortSatt,
.HeadSravAddMore,
.HeadSravBack,
.ResultCard {
    border-radius: 5px !important;

}


.WPCR_TTX{
    background: linear-gradient(90deg, var(--ak) 50%, var(--tr) 100%) !important;
}




/*
.HeadButtons div{
    border: none !important;
    border-radius: 0px !important;
    justify-content: space-between !important;
    align-items: center !important;
    align-content: center !important;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
}

.HeadButtons div::after{
    content: '';
    width: 2vh;
    height: 2vh;
    position: relative;
    top: 0;
    right: -2px;;
    background-color: var(--ba);
    top: calc(1vh + 2px);
}
.HeadButtons div::before{
    content: '';
    width: 2vh;
    height: 2vh;
    position: relative;
    top: 0;
    left: -2px;
    background-color: var(--ba);
    top: calc(-1vh - 2px);
}

.SortSatt {
    align-items: center !important;
    align-content: center !important;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    border-radius: 0px !important;
    border: none !important;
    box-shadow: inset 0px 0px 0px 2px var(--ak);
    padding: 2px;
}
.btnSelectedIvents::before {
    content: '';
    width: 0vh;
    height: 0vh;
    position: absolute;
    left: 0px;
    background-color: var(--ba);
    top: 0px;
    background: none !important;
    width: 0vh !important;
    height: 0vh !important;
    border-right: 2.5vh solid var(--tr);
    border-top: 2.5vh solid var(--ba);
}


.btnSelectedHead::after{
    content: '';
    position: relative;
    top: 0;
    right: -2px;
    background: none !important;
    width: 0vh !important;
    height: 0vh !important;
    top: calc(1vh + 2px);
    border-bottom: 2vh solid var(--ba);
    border-left: 2vh solid var(--tr);
    
}
.btnSelectedHead::before {
    content: '';
    position: relative;
    top: 0;
    right: -2px;
    background: none !important;
    width: 0vh !important;
    height: 0vh !important;
    top: calc(1vh + 2px);
    border-right: 2vh solid var(--tr);
    border-top: 2vh solid var(--ba);
}

.buttonTops1::before {
    content: '';
    width: 0vh;
    height: 0vh;
    position: absolute;
    left: 0px;
    background-color: var(--ba);
    top: 0px;
    background: none !important;
    width: 0vh !important;
    height: 0vh !important;
    border-right: 2.5vh solid var(--tr);
    border-top: 2.5vh solid var(--ba);
}
.buttonTops1::after {
    content: '';
    width: 0vh;
    height: 0vh;
    position: absolute;
    right: 0px;
    background-color: var(--ba);
    bottom: 0px;
    background: none !important;
    width: 0vh !important;
    height: 0vh !important;
    border-left: 2.5vh solid var(--tr);
    border-bottom: 2.5vh solid var(--ba);

}

.inputBox input{
    border-radius: 0px !important;
}


.HeadSravAddMore{
    
}
.HeadSravAddMore,
.HeadSravBack {
    border: none !important;
    border-radius: 0px !important;

}

*/