* {
    --li: #44464A;
    --ba: #2C3134;
    --ak: #00EA76;
    --te: #EFF3F7;
    --tr: rgba(255, 255, 255, 0);
    --error: #ff5555;
}


.HeadButtons div {
    border-radius: 5px !important;
}

.inputBox input {
    border-radius: 5px !important;
}

.WPCR_TTX,
.SortSatt,
.HeadSravAddMore,
.HeadSravBack,
.ResultCard {
    border-radius: 5px !important;
}